@model List<Store_Manager.Models.Product>

@{
    ViewBag.Title = "Show List Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<table border="1" class="table">
    <tr class="align-content-center">
        <td>ID</td>
        <td class="table w-50">Name</td>
        <td>Price</td>
        <td>Action</td>
    </tr>

    @foreach(var p in Model)
    {
    <tr>
        <td>@p.Id</td>
        <td>@p.ProductName</td>
        <td>@p.Price</td>
        <td>
            <a asp-controller="Product" asp-action="Edit" asp-route-id="@p.Id" class="btn btn-warning">Edit</a>
            <a asp-controller="Product" asp-action="Delete" asp-route-id="@p.Id" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    }
</table>

<div>
    @* <a asp-controller="Product" asp-action="ShowAll" class="btn btn-dark">
        
    </a>
 *@
    <a asp-controller="Product" asp-action="Create" class="btn btn-success">
        Create
    </a>

</div>
